.shimmer-details{
    background-color:hsl(0, 8%, 87%); 
    height: 350px;
    width: 500px;
    align-items: center;
    gap: 30px;
   margin-right: 60px;
    }
    .shimmer-details-1{
        display: flex;
        height: 100px;
        width: 450px;
        /* background-color: red; */
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 50px;
    }
.flex-country{
    display: flex;
padding: 100px;
}
.name{
    background-color: hsl(0, 8%, 87%); 
    width: 300px;
    height: 20px;
    margin-left: 40px;
}

.details1{
    background-color: hsl(0, 8%, 87%); 
    width: 120px;
    height: 10px;
    margin-top: 50px;
}

